BasedOnStyle: LLVM
SortIncludes: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
